[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default
local_tmp = /tmp/ads-ansible-local
remote_tmp = /tmp/ads-ansible-remote

[privilege_escalation]
become = False
